---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    <div class="mx-16 mb-48">
        <div class="section-div">
            <h1 class="h1-style">About Datagrove</h1>
            <p class="p-style">Our vision: Building software that does good</p>
            <p class="p-style">Datagrove products are all about making things easier, more efficient, and more secure while taking into consideration our impact on the world around us. Trees inspire us in many ways - tree structures represent an efficient method of data storage and even small groups of trees (groves!) can grow to be mighty forests.</p>
        </div>

        <div class="section-div">
            <h1 class="h1-style">Our Name</h1>
            <p class="p-style">As a startup we always want to remember our roots and thus our name was created: Datagrove. Efficiency, sustainable growth, and standing the test of time.</p>
        </div>

        <div class="section-div">
            <h1 class="h1-style">The Datagrove</h1>
            <p class="p-style">The Datagrove ecosystem is designed to grow over time just like the trees from which we draw our inspiration. The Datagrove “root system” is our unique data management that is designed for security, traceability, and end-user invisibility. The system runs in the background keeping the whole tree nourished and thriving. From those roots we are growing product branches that solve real world problems.</p>
            <p class="p-style">Our current product is currently in stealth mode, but feel free to contact us to learn more. Want to follow along? Join our community on <a href="https://twitter.com/datagrove_us" target="_blank" class="link-style">Twitter.</a></p>
        </div>

        <div class="section-div">
            <h1 class="h1-style">Our Partners</h1>
            <p class="p-style">Our partner, <a href="https://datagrovecr.com/" target="_blank" class="link-style">Datagrove Costa Rica</a>, is expanding Datagrove’s mission beyond the borders of the US, extending our mission to build great software that does good and doing our part to support local innovation and software development.</p>
        </div>

        <div class="section-div">
            <h1 class="h1-style">Terms and Conditions</h1>
            <p class="p-style">Datagrove is committed to creating open source projects that make the world a better place. Read our <a href="/terms" class="link-style">terms and conditions here</a>!</p>
        </div>
    </div>
</Layout>