---
import Button from "../common/Button.astro";
---
<div>
    <div class="mx-4 md:mx-16">
        <div class="my-6">
            <h1 class="text-4xl text-dgGreen font-bold py-2" set:html="Datagrove" />
            <h1 class="text-4xl text-blue-800 font-bold" set:html="Confident Data Sharing" />
        </div>

        <div class="flex">
            <Button text="Solutions" href="/pawpaw" type="primary" />
            <Button text="About Us" href="/about" type="secondary"/>
            <Button text="Connect" href="/contact" type="secondary" />
        </div>
    </div>
</div>