---
import Card from '../common/Card.astro';
---

<div class="m-auto p-1 max-w-prose">
    <ul role="list" class="grid gridTemplateColumns-card gap-1">
        <Card
            href="/pawpaw"
            title="Home of Pawpaw"
            body="Homeschool compliance made easy"
        />

        <Card
            href="/about"
            title="Datagrove"
            body="Building software that does good"
        />
    </ul>

</div>