<footer class="fixed bottom-0 w-full">
    <div class="flex flex-col justify-center items-center border-t p-2">
        <p set:html="Released under the MIT license" />
        <p set:html="Copyright © 2022-present Datagrove" />
    </div>
</footer>