---
const navLinks = [
    {
        text: "Home",
        href: "/"
    },
    {
        text: "About Us",
        href: "/about"
    },
    {
        text: "Solutions",
        links: [
            {
                text: "Homeschool",
                href: "/pawpaw"
            }
        ]
    },
    {
        text: "Contact",
        href: "/contact"
    }
]

---

<div>
    <div class="flex justify-between">
        <a href="/">
            <div class="flex items-center">
                <img 
                    class="w-8 m-2"    
                    src="/images/bright_green_circle.png" alt="datagrove logo"
                />
                <p class="text-dgBlue font-semibold text-lg" set:html="Datagrove" />
            </div>
        </a>

        <div class="flex items-center">
            <!-- <a 
                class="text-dgGreen pr-6 text-lg" 
                href="/">Home
            </a>
            <a 
                class="text-dgBlue pr-6 text-lg"
                href="/about">About Us
            </a> -->


            <ul>
                {
                    navLinks.map(({ text, href, links}) => ( 
                    
                        <li>
                            <a class="text-dgGreen pr-6 text-lg" href={ href }>{ text }</a>
                        </li>

                    ))
                }

                Test accessing links 

                { navLinks.map(item => (
                    item?.links[0]?.text
                ))}

            </ul>




            <!-- <a 
                class="text-dgBlue pr-6 text-lg"
                href="/contact">Contact
            </a> -->
        </div>
    </div>
</div>