---
interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}
 export interface Props {
    links?: Array<MenuLink>;
 }
 
const {
    links = [],
} = Astro.props;

---
<header>

    { links.map(( item ) => (
        !item?.links?.length ? ( 
            <a class="mx-2" href={ item.href }>{ item.text }</a>    
        ) : (
        item.links.map(( link ) => (
            link.text
        ))
        
        )
    ))}

    <br />

    { links.map(( item ) => (
        <a class="mx-2" href={ item.href }>{ item.text }</a>    

        // { links?.length ? (
        //     { links.map(( link ) => (
        //         <a href={ link.href }>{ link.text }</a>
        //     ))}
        // ) : (
        //     <p>TESTESTESTEST</p>
        // )}


    ))}

    <div>
        <div class="flex justify-between">
            <a href="/">
                <div class="flex items-center">
                    <img 
                        class="w-8 m-2"    
                        src="/images/bright_green_circle.png" alt="datagrove logo"
                    />
                    <p class="text-dgBlue font-semibold text-lg" set:html="Datagrove" />
                </div>
            </a>

            <div class="flex items-center">
                <ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
                    {
                      links.map(({ text, href, links }) => (
                        <li class={links?.length ? 'dropdown' : ''}>
                          {links?.length ? (
                            <>
                              <ul class="dropdown-menu md:backdrop-blur-md dark:md:bg-dark rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white/90 md:min-w-[200px] drop-shadow-xl">
                                {links.map(({ text: text2, href: href2 }) => (
                                  <li>
                                    <a
                                      class="first:rounded-t last:rounded-b md:hover:bg-gray-200 dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap"
                                      href={href2}
                                    >
                                      {text2}
                                    </a>
                                  </li>
                                ))}
                              </ul>
                            </>
                          ) : (
                            <a
                              class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
                              href={href}
                            >
                              {text}
                            </a>
                          )}
                        </li>
                      ))
                    }
                  </ul>
            </div>
        </div>
    </div>
</header>