<header>
    <div class="flex justify-between">
        <div class="flex items-center">
            <img 
                class="w-8 m-2"    
                src="/images/bright_green_circle.png" alt="datagrove logo"
            />
            <p set:html="Datagrove" />
        </div>

        <div class="flex items-center">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</header>