<div>
    <button
        class="rounded-full bg-dgGreen border border-dgGreen px-2 md:px-6 py-1 md:py-2 mr-2 my-2 hover:bg-pink-950"
    >
        <p class="text-white text-xs md:text-base" set:html="Add Text" />
    </button>
</div>