<div>
    <button
        class="rounded-full bg-white border border-dgGreen px-2 md:px-6 py-1 md:py-2 mr-2 my-2 hover:bg-accent "
    >
        <p class="text-dgGreen text-xs md:text-base hover:text-white" set:html="Add Text" />
    </button>
</div>