---
interface Props {
    text: string;
    href: string;
}

const { text, href } = Astro.props;
---

<div>
    <a
        href={ href }
        >
        <p 
            class="text-dgGreen border border-dgGreen text-xs md:text-base hover:text-white px-4 py-2 bg-white hover:bg-accent rounded-full w-28 text-center mr-2" 
            set:html={ text } 
        />
    </a>
</div>
